$white: #ffffff;
$blue: #001555;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $blue;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: $white;
  text-align: center;
  margin: 1rem;
}

form {
  background-color: rgba($white, 0.2);
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  color: $white;
  margin-bottom: 3rem;

  .heading {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .input {
    margin-bottom: 1rem;
    height: 5vh;
    padding-left: 1rem;
  }

  select {
    background: url(https://cdn3.iconfinder.com/data/icons/lightly-icons/30/652845-next-alt-4-240.png)
      no-repeat right #ddd;
    -webkit-appearance: none;
    background-position: 98% 50%;
    background-size: 0.8rem;
  }

  textarea {
    height: 20vh;
    width: 100%;
    max-height: 20vh;
    min-height: 20vh;
    max-width: 100%;
    min-width: 100%;
    padding: 0.5rem;

    &:focus {
      background-color: pink;
    }
  }

  .last {
    margin-bottom: 1.5rem;
  }

  .margin {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }

  .button {
    padding: 0.5rem;
    width: 21%;
    text-transform: uppercase;
    background-color: $white;
    color: $blue;
    font-weight: bold;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  .focus:focus {
    background-color: pink;
  }
}
